<template>
  <FormKit type="form" id="contact-form" :actions="false" submit-label="Send" @submit="submitForm" @submit-invalid="showErrors">
		<FormKit
			type="text"
			prefix-icon="megaphone"
			name="name"
			label="Name"
			placeholder="Jane Doe"
			validation="required"
		/>
		<FormKit
			type="email"
			prefix-icon="email"
			name="email"
			label="Email"
			placeholder="jane@example.com"
			validation="required|email"
		/>
		<FormKit
			type="textarea"
			name="message"
			label="Message"
			rows="10"
			columns="100"
			placeholder="Remember to write in complete sentences."
			validation="required|length:10"
			validation-visibility="dirty"
			:wrapper-class="{
				'formkit-wrapper': false
			}"
		/>
		<FormKit
			type="checkbox"
			label="I certify that I am at least 18 years old."
			name="age"
			validation="accepted"
			validation-visibility="blur"
		/>
		<div class="row">
			<FormKit
				type="submit"
				label="Send"
				prefix-icon="email"
			/>
			<FormKit
				input-class="reset"
				type="button"
				label="Clear"
				prefix-icon="trash"
				@click="resetForm"
			/>
		</div>

  </FormKit>
</template>

<script setup>
	import { ref } from 'vue'
	import { createToast } from 'mosha-vue-toastify';

	const messages = ref([])

	function showErrors() {
		createToast("You have errors in your form.", {
			type: 'danger',
			transition: 'zoom',
			position: 'top-right',
			timeout: 4000,
			showIcon: true
		})
	}
</script>

<script>
	import { createAutoAnimatePlugin } from '@formkit/addons'

	export default {
		plugins: [
			createAutoAnimatePlugin()
		],
		methods: {
			submitForm() {
				createToast("You message has been send.", {
					type: 'success',
					transition: 'zoom',
					position: 'top-right',
					timeout: 4000,
					showIcon: true
				})
				this.resetForm()
			},
			submitToMailchimp(data) {
				alert(`Submitted ${data.email} successfully!`)
			},
			resetForm() {
				this.$formkit.reset('contact-form')
			},
		},
	}
</script>

<style>

	#contact-form{
		margin: 2em 3em;
	}

	[data-invalid] .formkit-inner {
		border-color: red;
		box-shadow: 0 0 0 1px red;
	}

	[data-complete] .formkit-inner {
		border-color: #2ca82c;
		box-shadow: 0 0 0 1px #2ca82c;
	}

	[data-type="checkbox"][data-complete] .formkit-wrapper::after{
		content: '✅';
		display: block;
		padding: 0.5em;
	}

	[data-type="text"][data-complete] .formkit-inner::after,
	[data-type="email"][data-complete] .formkit-inner::after {
		content: '✅';
		display: block;
		padding: 0.5em;
	}

	[data-type="button"] .reset{
		background-color: red;
		font-weight: bold;
	}

	[data-type="button"] button.formkit-input.reset {
		background-color: #dc3545;
		border-color: #dc3545;
		font-weight: bold;
	}

	[data-type="button"] button.formkit-input.reset:focus-visible {
		background-color: #dc3545;
		border-color: #dc3545;
		font-weight: bold;
	}
	
	[data-type="button"] button.formkit-input.reset:hover {
		background-color: #bb2d3b;
		border-color: #bb2d3b;
		font-weight: bold;
	}
	
	[data-type="submit"] button.formkit-input {
		background-color: #198754;
		border-color: #198754;
		font-weight: bold;
	}
	
	[data-type="submit"] button.formkit-input:focus {
		background-color: #198754;
		border-color: #198754;
		font-weight: bold;
	}
	
	[data-type="submit"] button.formkit-input:hover {
		background-color: #157347;
		font-weight: bold;
	}
</style>