<template>
  <div id="map">
  </div>
</template>

<script>
	import { initMap } from './map.js'
	import 'ol/ol.css'
	import 'ol-layerswitcher/dist/ol-layerswitcher.css';

	export default {
		name: 'MapContainer',
		components: {},
		props: {},
		mounted() {
			initMap()
		}
	}
</script>

<style>
	/* @import "../node_modules/ol/ol.css"; */

	#map {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		width: 100%;
	}

	.rotation {
		top: 18em;
		left: 0.5em;
		margin-bottom: 0.5em;
	}
</style>