<template>
  <Line
		:label="label" 
		:chartData="chartData" 
		:chartLabels="chartLabels"
		:chartOptions="options"
		:background-color="backgroundColor"
		:point-border-color="pointBorderColor"
		:border-color="borderColor"
    :css-classes="cssClasses"
    :styles="styles"
    :width="width"
    :height="height"
		:items="items"
  />

	<!-- <Line ref="line"/> -->
</template>

<script>
	import { h } from 'vue'
	import { Line } from 'vue-chartjs'
	import moment from 'moment'
	import { 
		Chart as ChartJS,
		Title,
		Tooltip,
		Legend,
		LineElement,
		LinearScale,
		PointElement,
		CategoryScale,
	} from 'chart.js'

	ChartJS.register(
		Title,
		Tooltip,
		Legend,
		LineElement,
		LinearScale,
		PointElement,
		CategoryScale
	)

	export default {
		name: 'LineChart',
		components: { Line },
		props: {
			chartId: {
				type: String,
				default: 'line-chart'
			},
			items: {
				type: Array || Object,
				default: null
			},
			chartData: {
				type: Array || Object,
				default: null
			},
			chartLabels: {
				type: Array,
				default: null
			},
			chartOptions: {
				type: Object,
				default: () => {}
			},
			label: {
				default: '',
				type: String
			},
			borderColor: {
				type: String,
				default: ''
			},
			pointBorderColor: {
				type: String,
				default: ''
			},
			backgroundColor: {
				type: String,
				default: ''
			},
			width: {
				type: Number,
				default: 400
			},
			height: {
				type: Number,
				default: 400
			},
			cssClasses: {
				default: '',
				type: String
			},
			styles: {
				type: Object,
				default: () => {}
			},
			plugins: {
				type: Array,
				default: () => []
			}
		},
		setup(props){
			const chartData = {
				labels: props.chartLabels,
				datasets: [
					{
						label: props.label,
						backgroundColor: props.backgroundColor,
						borderColor: props.borderColor,
						borderWidth: 2,
						pointBorderColor: props.pointBorderColor,
						data: props.chartData
					}
				]
			}

			const chartOptions = props.chartOptions

			return () => h(Line, {
					chartData,
					chartOptions,
					chartId: props.chartId,
					width: props.width,
					height: props.height,
					cssClasses: props.cssClasses,
					styles: props.styles,
					plugins: props.plugins
			})
		},
	}
</script>