<template>
	<div class="wrapper">
		<Sidebar />
		<ContentVue />
	</div>
</template>

<script>
	import Sidebar from '@/components/sidebar/Sidebar.vue'
	import ContentVue from './components/Content.vue'
	
	import { sidebarWidth } from '@/components/sidebar/state'

	export default {
		components: { Sidebar, ContentVue },
		setup () {
			return { sidebarWidth }
		}
	}
</script>

<style>
	

</style>
