<template>
	<div class="container">
		<div class="card form">
			<div class="card-header">
				<span>Contact Form</span>
			</div>
			<div class="card-body">
				<FormVue />
			</div>
			<div class="card-footer"></div>
		</div>
	</div>
</template>

<script>
	import FormVue from '../components/ContactForm.vue';
	export default {
		name: 'Contact',
		components: {
			FormVue
		}
	}
</script>

<style>
	.form {
		width: 60%;
	}
</style>