<template>
	<div class="container">
		<!-- <div class="master"> -->
			<!-- Data from Weather Station-->
			<div class="card stationdata" v-if="dataLoaded">
				<div class="card-header-light">
					<span class="title">Station data</span>
				</div>
				<div class="card-body">
					<div class="row">
						<CardVue 
							class="temperature"
							header="Temperature"
							icon="device_thermostat"
							:field="temperature"
							:unit="'°C'"
							:update_time="datetime"
						/>
						<CardVue 
							class="humidity"
							header="Humidity"
							icon="water_drop"
							:field="humidity"
							:unit="'%'"
							:update_time="datetime"
						/>
						<CardVue 
							class="pressure"
							header="Pressure"
							icon="airwave"
							:field="pressure"
							:unit="'hPa'"
							:update_time="datetime"
						/>
					</div>
				</div>
				<div class="card-footer">
					<span class="material-symbols-rounded icon">sync</span>
					<span class="text">Updated:</span>
					<span class="updated_time"> {{ datetime }}</span>
				</div>
			</div>
			<!-- Data from OpenWeather Forecast -->
			<div class="parent" v-if="forecastLoaded">
				<div class="child" :key="key" v-for="(value, key) in forecastData.list?.slice(0, 22)">
					<CardForecastVue
						:time=convertUnixDate(value.dt)
						:temp=value.main.temp
						:feels_like=value.main.feels_like
						:temp_min=value.main.temp_min
						:temp_max=value.main.temp_max
						:pressure=value.main.pressure
						:id=value.weather[0].id
						:main=value.weather[0].main
						:desc=value.weather[0].description
						:icon=value.weather[0].icon
						:speed=value.wind.speed
						:deg=value.wind.deg
						:gust=value.wind.gust
					/>
				</div>
			</div>
		<!-- </div> -->
	</div>
</template>

<script>
	import moment from 'moment'
	import API from '../lib/API'
	import functions from '../lib/Functions'
	import CardVue from '../components/Card.vue'
	import CardForecastVue from '../components/CardForecast.vue'
	import { createToast } from 'mosha-vue-toastify';
	const STATION_ID = import.meta.env.VITE_STATION_ID

	export default {
		name: 'Dashboard',
		components: {
			CardVue,
			CardForecastVue
		},
		data () {
			return {
				dataLoaded: false,
				forecastLoaded: false,
				temperature: 0,
				humidity: 0,
				pressure: 0,
				datetime: "",
				time: 600000,
				forecastData: ""
			}
		},
		created () {
			this.loadData()
			this.getForecast()
		},
		mounted () {
			this.interval = setInterval(function () {
				this.loadData()
				this.getForecast()
			}.bind(this), this.time)
		},
		unmounted() {
			clearInterval(this.interval)
		},
		destroyed() {
			clearInterval(this.interval)
		},
		methods: {
			loadData: async function (){
				try {
					let response = await API.getLatestReadings(STATION_ID)
					this.dataLoaded = true
					let read = response.data[0]
					this.datetime = moment(read.data.datetime).format("DD/MM/YY HH:mm")
					this.temperature
					this.humidity
					this.pressure
					read.data.readings.map(item => this.fillData(item))
				} catch (err) {
					this.showError(err.response.status, err.response.data.message)
					this.dataLoaded = false
				}
			},
			fillData: function(item){
				if (item.dimension == 'temperature'){
					this.temperature = item.value
				} else if (item.dimension == 'humidity'){
					this.humidity = item.value
				} else if (item.dimension == 'pressure'){
					this.pressure = item.value
				}
			},
			getForecast: async function() {
				try {
					let response = await API.getForecast()
					this.forecastData = response.data
					this.forecastLoaded = true
				} catch (err) {
					this.showError(err.response.status, err.response.data.message)
					this.forecastLoaded = false
				}
			},
			showError: function (status, msg) {
				createToast( status + ': ' + msg, {
					type: 'danger',
					transition: 'zoom',
					position: 'top-right',
					timeout: 10000,
					showIcon: true
				})
			},
			convertUnixDate: functions.convertUnixDate
		}
	}
</script>

<style>
	.stationdata {
		width: 70%;
		margin-bottom: 20px;
	}

	.parent{
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-content: center;
		align-items: center;
		background-color: #EDE6DB;
		padding: 1em 0;
	}

	.child{
		flex-grow: 0;
		flex-shrink: 1;
		flex-basis: auto;
	}
</style>